<app-header></app-header>
<main>
  <ul id="users">
    <!-- [name]="users[0].name"
      [id]="users[0].id" -->
    @for ( user of users; track user.id){
    <li>
      <app-user [user]="user"  
      (select)="onSelectUser($event)"></app-user>
    </li>
    <!-- <li>
      <app-user [user]="users[1]" 
      (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[2]"
       (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[3]" 
      (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[4]" 
      (select)="onSelectUser($event)"></app-user>
    </li> -->
  }
  </ul>
  @if (userName){
    <app-tasks [name]="userName"></app-tasks>
  }
  @else{
    <p id="fallback">Select a user to see their tasks</p>
  }
</main>